@charset "UTF-8";
header {
  max-width: 1440px;
  margin: auto;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  gap: 50px;
}
header nav ul li a {
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  margin-top: 20px;
}
header nav ul li button {
  padding: 12px 32px;
  background-color: #000000;
  color: white;
  border-radius: 25px;
}
header .header_main {
  text-align: center;
  margin: 50px 0px 50px 0px;
}
header .header_main span {
  font-size: 16px;
  font-weight: 400;
  color: #A6A6A6;
  margin: 10px 0px 30px 0px;
}
header .header_main h1 {
  font-size: 64px;
  font-weight: 400;
  color: #000000;
  margin: 0px 0px 30px 0px;
}
header .header_main p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin: 0px 0px 30px 0px;
}
header .header_main .header_main_button {
  display: flex;
  margin-left: 460px;
}
header .header_main .header_main_button button {
  padding: 12px 32px;
  background-color: #000000;
  color: white;
  border-radius: 25px;
}
header .header_main .header_main_button div button {
  background-color: white;
  color: #000000;
}

@media screen and (max-width: 600px) {
  header nav {
    flex-wrap: wrap;
  }
  .header_main_button {
    margin-left: 150px !important;
  }
}
.container {
  max-width: 1240px;
  margin: auto;
  padding: 0px 10px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  margin: auto;
  background-color: white;
  border: 1px solid #e4e4e4;
  border-radius: 25px;
}

.main_2 {
  max-width: 1440px;
  margin: auto;
}
.main_2 .main_2_nav {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0px 0px 40px 0px;
}
.main_2 .main_2_nav p {
  font-size: 16px;
  font-weight: 400;
  color: #686868;
}
.main_2 .main_2_img {
  margin-bottom: 50px;
}
.main_2 .main_2_img img {
  max-width: 100%;
}

menu {
  max-width: 1440px;
  margin: auto;
}
menu .menu_main {
  max-width: 900px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
menu .menu_main span {
  font-size: 16px;
  font-weight: 400;
  color: #A6A6A6;
  margin: auto;
}
menu .menu_main h1 {
  font-size: 61px;
  font-weight: 400;
  color: #000000;
  margin: 0px 0px 50px 0px;
}
menu .menu_main img {
  max-width: 100%;
  margin-bottom: 50px;
}

.simpl {
  max-width: 1440px;
  margin: auto;
}
.simpl .simpl_nav {
  text-align: center;
  margin-top: 50px;
}
.simpl .simpl_nav p {
  font-size: 16px;
  font-weight: 400;
  color: #a6a6a6;
}
.simpl .simpl_nav h2 {
  font-size: 61px;
  font-weight: 400;
  color: #000000;
}
.simpl .simpl_main {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 100px 0px 0px 0px;
  text-align: center;
}
.simpl .simpl_main .card img {
  max-width: 100%;
}
.simpl .simpl_main .card h3 {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  margin: 30px 0px 20px 0px;
}
.simpl .simpl_main .card p {
  font-size: 16px;
  font-weight: 400;
  color: #212529;
  margin-bottom: 20px;
}

.costom {
  max-width: 1440px;
  margin: auto;
}
.costom .costom_main {
  display: flex;
  justify-content: space-between;
  margin: 100px 0px 50px 0px;
}
.costom .costom_main .costom_left h1 {
  font-size: 61px;
  font-weight: 400;
  color: #000000;
  margin: 15px 0px 20px 0px;
}
.costom .costom_main .costom_left p {
  font-size: 16px;
  font-weight: 400;
  color: #212529;
  margin: 5px 0px 10px 0px;
}
.costom .costom_main .costom_left button {
  padding: 12px 32px;
  background-color: #000000;
  color: white;
  border-radius: 25px;
  margin-top: 10px;
}
.costom .costom_main .costom_right img {
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .costom_main {
    flex-wrap: wrap;
  }
}
.city {
  max-width: 1440px;
  margin: auto;
}
.city .city_main {
  text-align: center;
}
.city .city_main h1 {
  font-size: 61px;
  font-weight: 400;
  color: #000000;
  margin: 50px 0px 30px 0px;
}
.city .city_main p {
  font-size: 16px;
  font-weight: 400;
  color: #212529;
  margin: 0px 0px 30px 0px;
}
.city .city_main img {
  max-width: 100%;
}

.FAQ’s {
  max-width: 1440px;
  margin: auto;
  margin-top: 80px;
}
.FAQ’s .FAQ’s_nav {
  text-align: center;
}
.FAQ’s .FAQ’s_nav span {
  width: 50px;
  margin: auto;
}
.FAQ’s .FAQ’s_nav p {
  font-size: 16px;
  font-weight: 400;
  color: #a6a6a6;
}
.FAQ’s .FAQ’s_nav h1 {
  font-size: 61px;
  font-weight: 400;
  color: #000000;
}
.FAQ’s .FAQ’s_main {
  margin: 60px 0px;
}
.FAQ’s .FAQ’s_main .card1 {
  max-width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.FAQ’s .FAQ’s_main .card1 p {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  margin-top: 10px;
}
.FAQ’s span {
  margin-left: 257px;
  width: 700px;
}

@media screen and (max-width: 700px) {
  .FAQ’s span {
    margin-left: 0px;
  }
}
footer {
  max-width: 1440px;
  margin: auto;
}
footer .footer_main {
  display: flex;
  justify-content: space-between;
  margin: 100px 0px 50px 0px;
}
footer .footer_main .footer_left span {
  font-size: 16px;
  font-weight: 400;
  color: #a6a6a6;
}
footer .footer_main .footer_left h1 {
  font-size: 61px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 10px;
}
footer .footer_main .footer_left p {
  font-size: 16px;
  font-weight: 400;
  color: #212529;
  margin-bottom: 20px;
}
footer .footer_main .footer_left button {
  padding: 12px 32px;
  background-color: #000000;
  color: white;
  border-radius: 25px;
}
footer .footer_main .footer_right img {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  footer .footer_main {
    flex-wrap: wrap;
  }
}
.footer_bottom {
  max-width: 1440px;
  margin: auto;
  text-align: center;
}
.footer_bottom .footer_bottom_main {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 20px 0px;
}
.footer_bottom .footer_bottom_main .footer_bottom_left img {
  max-width: 100%;
}
.footer_bottom .footer_bottom_main .footer_bottom_left p {
  font-size: 15px;
  font-weight: 400;
  color: #a6a6a6;
  margin: 15px 0px 25px 0px;
}
.footer_bottom .footer_bottom_main .footer_bottom_left span {
  font-size: 13px;
  font-weight: 400;
  color: #a6a6a6;
}
.footer_bottom .footer_bottom_main .footer_bottom_right {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.footer_bottom .footer_bottom_main .footer_bottom_right ul p {
  font-size: 15px;
  font-weight: 400;
  color: #a6a6a6;
}
.footer_bottom .footer_bottom_main .footer_bottom_right ul li {
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  margin-top: 15px;
}
.footer_bottom span {
  font-size: 20px;
  font-weight: 400;
  color: #E4E4E4;
  margin: 0px 0px 20px 0px;
}/*# sourceMappingURL=main.css.map */