footer {
    max-width: 1440px;
    margin: auto;

    .footer_main {
        display: flex;
        justify-content: space-between;
        margin: 100px 0px 50px 0px;

        .footer_left {

            span {
                font-size: 16px;
                font-weight: 400;
                color: #a6a6a6;
            }

            h1 {
                font-size: 61px;
                font-weight: 400;
                color: #000000;
                margin-bottom: 30px;
                margin-top: 10px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: #212529;
                margin-bottom: 20px;
            }

            button {
                padding: 12px 32px;
                background-color: #000000;
                color: white;
                border-radius: 25px;
            }
        }

        .footer_right {
            img {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width:600px) {
    footer .footer_main {
        flex-wrap: wrap;
    }
}