*{
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}

body{
    max-width: 1600px;
    margin: auto;
    background-color: white;
    border: 1px solid #e4e4e4;
    border-radius: 25px;
}